@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-preset-1 {
    @apply font-bold text-2xl;
  }

  .text-preset-4-b {
    @apply font-bold text-md;
  }

  .text-preset-4-r {
    @apply font-normal text-md;
  }

  .text-preset-5-b {
    @apply font-bold text-sm;
  }
}

.login-signup-desktop-container {
  background-image: url("/assets/images/illustration-authentication.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
