@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    src: url("/assets/fonts/static/PublicSans-Bold.ttf") format("ttf");
  }

  @font-face {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    src: url("/assets/fonts/static/PublicSans-Regular.ttf") format("ttf");
  }
}

@layer components {
  .text-preset-1 {
    @apply font-project font-bold text-2xl;
  }

  .text-preset-4-b {
    @apply font-project font-bold text-md;
  }

  .text-preset-4-r {
    @apply font-project font-normal text-md;
  }

  .text-preset-5-b {
    @apply font-bold font-project text-sm;
  }
}
